%primary-button {
    border: 1px solid $smoky-black;
    background-color: transparent;
    font-family: $raleway;
    font-size: $small;
    font-weight: bold;
    padding: 0.5em 1em;
}

.normal-size {
    @extend %primary-button;
}

.small-size {
    @extend %primary-button;
    font-size: $x-small;

}

.suscribir-btn {
    display: inline-block;
    border-width: 0;
    font-family: $os-tt;
    font-size: $medium;
    color: $smoky-black;
    background-color: $white;
    transform: rotate(90deg);
    height: 20%;
    width: 20%;
    margin-top: 70px;
}
