.article-container {
    margin: 30px;
    max-width: 100%;
    height: 65%;
}

.article__header {
    font-family: $os-tt;
    font-size: $xx-large;
    font-weight: $bold;
    color: $smoky-black;
}

.article__text {
    font-family: $raleway;
    font-size: $small;
    font-weight: $regular;
    color: $granite-gray;

}

.left-content {
    height: 100%;   
}

@media screen and (min-width: 600px) {
    .left-content {
        float:right;
        max-width: 40%;
        display: block;
    }
}