.form {
    color: $white;
    margin: 0;
    display: flex;
    float: left;
    width: 100%;
    height: 35%;
}

.form-container {
    padding: 20px 30px;
    background-color: $smoky-black;
    width: 80%;
    h2 {
        font-family: $os-tt;
        font-size: $x-large;
    }
    h3 {
        font-family: $os-tt;
        font-size: $medium;
    }
    input {
        font-family: $raleway;
        font-size: $x-small;
        padding: 2px 5px;
        width: 80%;
    }
}